@(login: Form[Login])
@import helper._
@implicitField = @{ FieldConstructor(tags.input.f) }
@authentication() {
    <h1>WatchTower</h1>
    @form(routes.Application.authenticate()) {
        @inputText(login("username"), 'class -> "form-control", '_label -> "Nome de Utilizador", 'placeholder -> "Introduza o nome de utilizador")
        @inputPassword(login("password"), 'class -> "form-control", '_label -> "Palavra-Passe", 'placeholder -> "Introduza a palavra-passe")
        @if(login.hasGlobalErrors) {
            <p class="text-danger">@login.globalErrors.map(_.message).mkString(", ")</p>
        }
        <button type="submit" class="btn btn-primary pull-right">Entrar</button>
    }
}