@(elements: helper.FieldElements)
<div class="form-group @if(elements.hasErrors) {has-error}">
    <label class="control-label" for="@elements.id">@elements.label(elements.lang)</label>
    @elements.input
    @if(elements.hasErrors) {
        <p class="text-danger">@elements.errors(elements.lang).mkString(", ")</p>
    }
</div>