@(videos: Array[java.io.File])
@main() {
    <div class="table-responsive">
        <table class="table table-striped tabled-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                @for((video, id) <- videos.zipWithIndex) {
                    <tr>
                        <td>@(id + 1)</td>
                        <td><a href="@routes.Application.view(video.getName)">@video.getName</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}